@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-inter: 'Inter', sans-serif;
}

@font-face {
  font-family: 'Bogue';
  src: url('../../public/fonts/Bogue-Black.woff2') format('woff2');
  font-display: swap;
  font-style: normal;
  font-weight: 100;
}

@theme{
  --font-bogue: 'Bogue', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FCFBF8;
    --foreground: #424242;
  }
}

.font-inter {
  font-family: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
